.control-pane {
    -fx-border-color: lightgrey;
    -fx-border-style: solid hidden hidden hidden;
    -fx-padding: 15 20;
}

.split-pane {
    -fx-box-border: transparent;
}

.curl-output .content {
    -fx-padding: 15px 20px;
}

.split-pane *.split-pane-divider {
    -fx-box-border: lightgrey;
}

.cardinal-font {
    -fx-font-family: "Open Sans";
    -fx-font-size: 13;
}

.cardinal-font-console {
    -fx-font-family: "Courier";
    -fx-font-size: 13;
}

.dashed-border {
    -fx-border-color: lightgrey;
    -fx-border-style: dashed;
}

.plain-border {
    -fx-border-color: lightgrey;
    -fx-border-style: solid;
}

.round-border {
    -fx-border-radius: 2;
}

.info {
    -fx-padding: 20;
}

.default-color0.chart-area-symbol { -fx-background-color: #00a0d8, #00a0d8; }
.default-color0.chart-series-area-line { -fx-stroke: #00a0d877; }
.default-color0.chart-series-area-fill { -fx-fill: #00a0d833; }